$width: 350px;
$output-padding: 5px;
$output-border-width: 1px;

body {
    width: $width;
    margin: 10px;
}

#tabs {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

%button {
    color: black;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.selected {
    background-color: #f2f2f2;
}

.tab-button {
    @extend %button;
    flex: 1;
    width: ($width - 2 * ($output-padding + $output-border-width)) / 2;
    border: none;
}

.action-button {
    @extend %button;
    width: 100px;
    display: inline-block;
    border: 1px solid #e5e5e5;

    &:hover {
        background-color: #f2f2f2;
    }

    &:active {
        background-color: #e5e5e5;
    }
}

#output {
    width: $width - 2 * ($output-padding + $output-border-width);
    color: black;
    border: $output-border-width solid #f2f2f2;
    overflow-y: scroll;
    padding: $output-padding;
    font-size: 1.2em;
    white-space: pre;
}

.actions {
    display: flex;
    font-size: 1.2em;
    padding-top: 10px;
    line-height: 30px;
    justify-content: space-between;
}

.switch {
    position: relative;
    top: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 40px;
    height: 20px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;

    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
}

input:checked + .slider {
    background-color: #03a9f4;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}